﻿@model Criterion

<h2>Создать новый критерий</h2>

<form asp-action="AddCriterion" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Criteriatext" class="control-label"><strong>Критерий</strong></label>
        <textarea asp-for="Criteriatext" class="form-control" maxlength="500" placeholder="Введите критерий..."></textarea>
        <span asp-validation-for="Criteriatext" class="text-danger"></span>
    </div>

    <div class="form-group">
      @*  <label class="control-label">Варианты ответов</label>*@
        <div id="options-container" style="display: block;">
            @for (int i = 0; i < Model.Options.Count; i++)
            {
                <div class="option">

                    <label class="control-label"><strong>Вариант ответа</strong></label>
                    <div class="input-group">
                        <textarea asp-for="@Model.Options.ElementAt(i).Optiontext" class="form-control" maxlength="500" placeholder="Введите вариант ответа..."></textarea>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-danger remove-option">Удалить вариант ответа</button>
                        </div>
                    </div>
                    <label class="control-label"><strong>Балл</strong></label>
                    <input asp-for="@Model.Options.ElementAt(i).Score" class="form-control" type="number" pattern="\d*" maxlength="5" placeholder="Введите балл..." />
                </div>
            }
        </div>
        <button type="button" id="add-option" class="btn btn-success">Добавить варианты ответов</button>
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
    <div>
        <a asp-action="Index">Вернуться</a>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#add-option").click(function () {
                var index = $(".option").length;

                var optionHtml = '<div class="option">' +
                    '<label class="control-label">Вариант ответа</label>' +
                    '<div class="input-group">' +
                    '<textarea name="Options[' + index + '].Optiontext" class="form-control" maxlength="500" placeholder="Введите вариант ответа..."></textarea>' +
                    '<div class="input-group-append">' +
                    '<button type="button" class="btn btn-danger remove-option">Удалить вариант ответа</button>' +
                    '</div>' +
                    '</div>' +
                    '<label class="control-label">Балл</label>' +
                    '<input name="Options[' + index + '].Score" class="form-control" type="number" pattern="\d*" maxlength="5" placeholder="Введите балл..."/>' +
                    '</div>';

                $("#options-container").append(optionHtml);
            });

            $(document).on("click", ".remove-option", function () {
                $(this).closest(".option").remove();
            });

            $("#toggle-options-form").click(function () {
                $("#options-container").toggle();
            });
        });
    </script>
}
