﻿@model Criterion

<h2>Удаление критерия</h2>

<h3>Вы уверены, что хотите удалить этот критерий?</h3>
<div>
    <h4>ID: @Model.Criteriaid</h4>
    <h4>Текст: @Model.Criteriatext</h4>
    <h4>Варианты ответов:</h4>
    @foreach (var option in Model.Options)
    {
        <p>@option.Optiontext</p>
    }
    <form asp-action="DeleteCriterion">
        <input type="hidden" asp-for="Criteriaid" />
        <button type="submit" class="btn btn-danger">Удалить</button> |
        <a asp-action="Index">Вернуться</a>
    </form>
</div>
