﻿@*@model List<dbquestion.Models.Criterion>

<h2>Критерии</h2>
<p>
    <a class="btn btn-primary" asp-action="AddCriterion">Создать новую</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Критерий</th>
            <th>Варианты ответов</th>
            <th>Баллы</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var criterion in Model)
        {
            <tr>
                <td>@criterion.Criteriaid</td>
                <td>@criterion.Criteriatext</td>
                <td>
                    @foreach (var option in criterion.Options)
                    {
                        <div>@option.Optiontext</div>
                    }
                </td>
                <td>
                    @foreach (var option in criterion.Options)
                    {
                        <div>@option.Score</div>
                    }
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" asp-action="EditCriterion" asp-route-id="@criterion.Criteriaid">Редактировать</a>
                    <a class="btn btn-danger" asp-action="DeleteCriterion" asp-route-id="@criterion.Criteriaid">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
@model List<dbquestion.Models.Criterion>

<style>
    .table td {
        white-space: nowrap;
        max-width: 150px; /* Устанавливайте значение по своему усмотрению */
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<h2>Критерии</h2>
<p>
    <a class="btn btn-primary" asp-action="AddCriterion">Создать новую</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Критерий</th>
            <th>Варианты ответов</th>
            <th>Баллы</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var criterion in Model)
        {
            <tr>
                <td>@criterion.Criteriaid</td>
                <td style="min-width: 150px; overflow: hidden; text-overflow: ellipsis;">@criterion.Criteriatext</td>
                <td>
                    @foreach (var option in criterion.Options)
                    {
                        <div style="min-width: 150px; overflow: hidden; text-overflow: ellipsis;">@option.Optiontext</div>
                    }
                </td>
                <td>
                    @foreach (var option in criterion.Options)
                    {
                        <div>@option.Score</div>
                    }
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" asp-action="EditCriterion" asp-route-id="@criterion.Criteriaid">Редактировать</a>
                    <a class="btn btn-danger" asp-action="DeleteCriterion" asp-route-id="@criterion.Criteriaid">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
