﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dbquestion</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/dbquestion.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="nav-top">
        <div class="containerHead d-flex">
            <ul class="nav">
                <a class="nav-link  nav-active " href="@Url.Action("Login", "Account")" class="bx bx-show text-white">Войти</a>
            </ul>
            <ul class="nav me-auto nav-locale">
                <li class="nav-item"><a1 href="#" disabled="" class="nav-link"><i class="bx bx-world p-0"></i></a1></li>
                <li class="nav-item nav-locale-item">
                    <a1 rel="alternate" class="nav-link " reflang="ky" href="http://dpa.gov.kg/ky">KYR</a1>
                </li>
                <li class="nav-item nav-locale-item">
                    <a1 rel="alternate" class="nav-link  nav-active " reflang="ru" href="http://dpa.gov.kg/ru">RU</a1>
                </li>
            </ul>
            <ul class="nav nav-locale">
                <li class="nav-item"><a1 href="https://dpa.gov.kg/ky/feedback" class="nav-link"><i class="bx bx-mail-send"></i>Связаться с нами</a1></li>
            </ul>
        </div>
    </nav>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center me-auto" href="https://dpa.gov.kg/ky">
                    <img src="https://dpa.gov.kg/img/logoPNG.png" alt="logo" class="d-inline-block align-text-center">
                    <div class="navbar-brand-title">
                        <span class="navbar-brand-title-desc mb-2">Кыргыз Республикасынын Министрлер Кабинетине караштуу Жеке маалыматтарды коргоо боюнча мамлекеттик агенттик</span>
                        <span class="navbar-brand-title-title">Жеке маалыматтарды коргоо боюнча мамлекеттик агенттик</span>
                    </div>
                </a>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*   <section class="footer m-0">*@
       
    <footer class="py-3 container-fluid text-white">
        <div class="containerFoot ">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <h6 class="mb-3 footer-title">Проекты</h6>
                        <ul class="list-unstyled footer-menu">
                            <li class="nav-item">
                        <a1 href="https://dpa.gov.kg/ru" class="nav-link ps-0">
                                Методика определения угроз
                                </a1>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-3">
                    <h6 class="mb-3 footer-title">Публикации</h6>
                        <ul class="list-unstyled footer-menu">
                            <li class="nav-item">
                                <a1 href="https://dpa.gov.kg" class="nav-link ps-0">
                                Главная
                                </a1>
                            </li>
                            <li class="nav-item">
                                <a1 href="https://dpa.gov.kg/page/individuals" class="nav-link ps-0">
                                Гражданам
                                </a1>
                            </li>
                            <li class="nav-item">
                                <a1 href="https://dpa.gov.kg/page/entity" class="nav-link ps-0">
                                Организациям
                                </a1>
                            </li>
                            <li class="nav-item">
                                <a1 href="https://dpa.gov.kg/npa" class="nav-link ps-0">
                                Нормативные правовые акты
                                </a1>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <h6 class="mb-3 footer-title">Полезная информация</h6>
                        <ul class="list-unstyled footer-menu">
                            <li class="nav-item">
                                <a1 href="https://dpa.gov.kg/question" class="nav-link ps-0">
                                Часто задаваемые вопросы
                                </a1>
                            </li>
                            <li class="nav-item">
                                <a1 href="https://dpa.gov.kg/post" class="nav-link ps-0">
                                Новости
                                </a1>
                            </li>
                            <li class="nav-item">
                                <a1 href="https://dpa.gov.kg/vacancy" class="nav-link ps-0">
                                    Вакансии
                                </a1>
                            </li>
                            <li class="nav-item">
                                <a1 href="https://dpa.gov.kg/npa/34" class="nav-link ps-0">
                                Политика конфиденциальности
                                </a1>
                            </li>
                        </ul>
                    </div>
            <div class="col-xs-12 col-md-3 footer-brand text-white">
                        <h6 class="mb-3 footer-title">Контакты агентства</h6>

                        <ul class="list-unstyled footer-menu">
                            <li class="nav-item">
                            <a1 class="disabled nav-link ps-0 py-1"><strong>Адрес:</strong> Кыргызская Республика, г. Бишкек, пр. Чуй, 265а, здание Национальной Академии наук, 2 этаж, западное крыло.</a1>
                            </li>
                            <li class="nav-item">
                                <a1 class="disabled nav-link ps-0 py-1"><strong>Телефон:</strong> Общий отдел: +(996) 312 641 014, +(996) 990 950 850, По заполнению Реестра: +(996) 997 950 850, +(996) 709 950 750</a1>
                            </li>
                            <li class="nav-item">
                                <a1 class="disabled nav-link ps-0 py-1"><strong>E-mail:</strong> info@dpa.gov.kg</a1>
                            </li>
                            <li class="nav-item">
                            <a1 class="disabled nav-link ps-0 py-1"><strong>Почтовый адрес:</strong> 720071</a1>
                            </li>
                            <li class="nav-item">
                                <a1 class="disabled nav-link ps-0 py-1"><strong>Телеграм бот:</strong></a1>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <h6 class="mb-3 footer-title">Официальные ресурсы</h6>
                        <ul class="list-unstyled footer-menu">
                            <li class="nav-item">
                                <a1 href="http://www.president.kg/kg" class="nav-link ps-0">
                                Президент Кыргызской Республики
                                </a1>
                            </li>
                            <li class="nav-item">
                                <a1 href="https://www.gov.kg/ky" class="nav-link ps-0">
                                Кабинет Министров Кыргызской Республики
                                </a1>
                            </li>
                            <li class="nav-item">
                                <a1 href="http://kenesh.kg/" class="nav-link ps-0">
                                Жогорку Кенеш Кыргызской Республики
                                </a1>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-4">
                    <h6 class="mb-3 footer-title">Мы в соцсетях:</h6>
                        <ul class="list-unstyled footer-menu">
                            <li><a href="https://www.facebook.com/dpa.gov.kg/" target="_blank" class="nav-link ps-0 icon-fb"><i class="bx bxl-facebook-square"></i> Facebook</a></li>
                            <li><a href="https://www.instagram.com/dpa.gov.kg" target="_blank" class="nav-link ps-0 icon-in"><i class="bx bxl-instagram"></i> Instagram</a></li>
                            <li><a href="https://t.me/dpagovkg" target="_blank" class="nav-link ps-0 icon-tg"><i class="bx bxl-telegram"></i> Telegram</a></li>
                        </ul>
                    </div>
                </div>

                <div class="d-flex justify-content-center py-2 mt-4 border-top">
                    <div>© 2023</div>

                </div>


            <div class="text-center">
                <div style="white-space: nowrap; display: block;">Прохождений за день: <span id="dailyCount">@ViewBag.DailyCount</span></div>
                <div style="white-space: nowrap; display: block;">Прохождений за все время: <span id="totalCount">@ViewBag.TotalCount</span></div>

            </div>
        </div>
    </footer>
    
    @* </section>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
