﻿@{
    Layout = null; // Исключаем использование Layout в модальном окне
}

<div class="modal-content">
    <div class="modal-body">
        @*<p>Средний балл: <span class="font-weight-bold" style="color: @GetColorForLevel(ViewBag.Level)">@ViewBag.AverageScore</span></p>*@
        <p>Средний балл: <span class="font-weight-bold" style="color: @GetColorForLevel(ViewBag.Level)">@ViewBag.AverageScore.ToString("F1")</span></p>
        <p>Уровень: <span class="@GetColorForLevel(ViewBag.Level)">@ViewBag.Level</span></p>
    </div>
</div>

@functions {

    string GetColorForLevel(string level)
    {
        switch (level)
        {
            case "Синий":
                return "text-primary";
            case "Зелёный":
                return "text-success";
            case "Желтый":
                return "text-warning";
            case "Красный":
                return "text-danger";
            default:
                return "text-dark";
        }
    }
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
