﻿@model Tuple<List<Question>, List<Criterion>>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

<style>
    .question-container {
        cursor: pointer;
        margin-bottom: 10px;
    }

    .question-header {
        font-size: 18px;
        font-weight: bold;
    }

    .criteria-container {
        margin-left: 20px;
        display: none;
        overflow: hidden;
    }
</style>

<h1 class="text-center"><img src="1.png" alt="Ваше изображение" style="width: 100px; height: auto;"> Самооценка</h1>

<form id="testForm" asp-action="SubmitAnswers" method="post">
    @for (var i = 0; i < Model.Item1.Count; i++)
    {
        var question = Model.Item1[i];
        var criteria = Model.Item2;

        <div class="question-container">
            <div class="question-header">
                <h3>@question.Questiontext</h3>
            </div>

            <div class="criteria-container" id="criteriaContainer@i" style="@(i == 0 ? "display:block;" : "display:none;")">
                @for (var j = 0; j < criteria.Count; j++)
                {
                    var criterion = criteria[j];

                    <h5 style="color:#1dbcb9">@criterion.Criteriatext</h5>

                    <ul>
                        @foreach (var option in criterion.Options)
                        {
                            <li>
                                <label>
                                    <input type="radio" name="selectedOptionIds[@($"{question.Questionid}_{criterion.Criteriaid}")]" value="@option.Optionid" class="option-radio" required />
                                    @option.Optiontext
                                </label>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    }

    <input type="hidden" id="selectedOptions" name="selectedOptions" />

    <br>
    <button type="button" id="submitBtn" class="button">Завершить самооценку</button>
</form>

<!-- Модальное окно для отображения результатов -->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">Результаты</h5>
            </div>
            <div class="modal-body">
                <!-- Результаты будут отображены здесь -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".question-header").click(function () {
                var criteriaContainer = $(this).closest('.question-container').find(".criteria-container");

                criteriaContainer.slideToggle();
            });

            $(".option-radio").click(function (e) {
                e.stopPropagation();

                var selectedOptions = {};

                $(".option-radio:checked").each(function () {
                    var questionId = $(this).attr("name").replace("selectedOptionIds[", "").replace("]", "");
                    var optionId = $(this).val();

                    selectedOptions[questionId] = optionId;
                });

                $("#selectedOptions").val(JSON.stringify(selectedOptions));
            });

            $("#submitBtn").click(function () {
                if ($(".option-radio:checked").length === 0) {
                    alert("Выберите хотя бы один вариант ответа перед отправкой формы.");
                    return false;
                }
                var formData = {};

                var selectedOptionsString = $("#selectedOptions").val();
                var selectedOptions = JSON.parse(selectedOptionsString);

                formData["selectedOptionIds"] = selectedOptions;

                $.ajax({
                    type: "POST",
                    url: "/Test/SubmitAnswers",
                    data: formData,
                    success: function (result) {
                        $("#resultModal .modal-body").html(result);
                        $("#resultModal").modal("show");
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}
