﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
  
    <br>
    <h1>Определение требуемого уровня защищенности</h1>
    <br>
    <div class="image-container">
        <img src="2.png" alt="Ваше изображение" style="width: 150px; height: auto;">
    </div>
    <br>
    <br>
    <br>
    <a asp-controller="Test" asp-action="Index" class="button">Пройти оценку уровня защищенности</a>
    <br>
    <br>
    <br>
    <br>
</div>
