﻿@*@model Administrator
@{
    Layout = null; // Исключаем использование Layout в модальном окне
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .login-container {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            text-align: center;
        }

        img {
            max-width: 10%;
            height: auto;
        }

        h2 {
            color: #333;
        }

        form {
            max-width: 300px;
            margin: 0 auto;
        }

        label {
            margin-bottom: 8px;
            color: #555;
        }

        input {
            padding: 8px;
            margin-bottom: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .text-danger {
            color: #dc3545;
        }

        .button {
            background: rgba(29, 188, 185, .3);
            border: 1px solid rgba(29, 188, 185, .7);
            border-radius: 5px; 
            font-size: 16px; 
            font-weight: 500;
            padding: 10px 20px;
            text-transform: uppercase;
            display: inline-block; 
            text-decoration: none; 
            color: #000; 
            transition: background-color 0.3s ease-in-out;
        }

            .button:hover {
                background-color: rgba(29, 188, 185, .7);
            }
    </style>
</head>
<body>
    <div class="login-container">
        <img src="https://dpa.gov.kg/img/logoPNG.png" alt="logo" class="d-inline-block align-text-center">
        <h2>Авторизация</h2>

        <form asp-action="Login" method="post" class="form">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label for="Username">Логин</label>
                <input asp-for="Username" class="form-control" placeholder="Введите логин" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Passwordhash">Пароль</label>
                <input asp-for="Passwordhash" type="password" class="form-control" placeholder="Введите пароль" />
                <span asp-validation-for="Passwordhash" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="button">Войти</button>
            </div>
        </form>
    </div>
</body>
</html>
@section Scripts {
    <script>
        // Добавляем обработку формы перед отправкой
        $("form").submit(function () {
            // Получаем значения логина и пароля
            var username = $("#Username").val();
            var password = $("#Passwordhash").val();

            // Проверяем, что оба поля не пусты
            if (!username.trim() || !password.trim()) {
                // Если хотя бы одно поле пусто, выводим сообщение и предотвращаем отправку формы
                alert("Пожалуйста, заполните все поля.");
                return false;
            }

            // Если оба поля заполнены, форма будет отправлена
            return true;
        });
    </script>
}*@

@model Administrator
@{
    Layout = null; // Исключаем использование Layout в модальном окне
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .login-container {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            text-align: center;
        }

        img {
            max-width: 10%;
            height: auto;
        }

        h2 {
            color: #333;
        }

        form {
            max-width: 300px;
            margin: 0 auto;
        }

        label {
            margin-bottom: 8px;
            color: #555;
        }

        input {
            padding: 8px;
            margin-bottom: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .text-danger {
            color: #dc3545;
        }

        .button {
            background: rgba(29, 188, 185, .3);
            border: 1px solid rgba(29, 188, 185, .7);
            border-radius: 5px;
            font-size: 16px;
            font-weight: 500;
            padding: 10px 20px;
            text-transform: uppercase;
            display: inline-block;
            text-decoration: none;
            color: #000;
            transition: background-color 0.3s ease-in-out;
        }

            .button:hover {
                background-color: rgba(29, 188, 185, .7);
            }
    </style>
</head>
<body>
    <div class="login-container">
        <img src="https://dpa.gov.kg/img/logoPNG.png" alt="logo" class="d-inline-block align-text-center">
        <h2>Авторизация</h2>

        <form asp-action="Login" method="post" class="form">
             <div class="form-group">
                <label for="Username">Логин</label>
                <input asp-for="Username" class="form-control" placeholder="Введите логин" />
               @* <span asp-validation-for="Username" class="text-danger"></span>*@
               <span asp-validation-for="Username" class="text-danger">
                    @if (!string.IsNullOrEmpty(ViewData.ModelState["Username"]?.Errors?.FirstOrDefault()?.ErrorMessage))
                    {
                        <text>
                            Пожалуйста, введите логин
                        </text>
                    }
                </span>

            </div>

            <div class="form-group">
                <label for="Passwordhash">Пароль</label>
                <input asp-for="Passwordhash" type="password" class="form-control" placeholder="Введите пароль" />
               @* <span asp-validation-for="Passwordhash" class="text-danger"></span>*@
                <span asp-validation-for="Passwordhash" class="text-danger">
                    @if (!string.IsNullOrEmpty(ViewData.ModelState["Passwordhash"]?.Errors?.FirstOrDefault()?.ErrorMessage))
                    {
                        <text>
                            Пожалуйста, введите пароль
                        </text>
                    }
                </span>

            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <button type="submit" class="button">Войти</button>
            </div>
        </form>
    </div>

    <script>
        // Добавляем обработку формы перед отправкой
        $("form").submit(function () {
            // Получаем значения логина и пароля
            var username = $("#Username").val();
            var password = $("#Passwordhash").val();

            // Проверяем, что оба поля не пусты
            if (!username.trim() || !password.trim()) {
                // Если хотя бы одно поле пусто, выводим сообщение и предотвращаем отправку формы
                alert("Пожалуйста, заполните все поля.");
                return false;
            }

            // Если оба поля заполнены, форма будет отправлена
            return true;
        });
    </script>
</body>
</html>
