﻿<style>
    .card{
        background-color: #1dbcb9;
    }
</style>
<div class="admin-panel">
    <br>
    <h2>Панель администратора</h2>
    <br>
    <br>
   
    <div class="row">
        <div class="col-md-4">
            <div class="card admin-panel-item">
                <br>
                <br>
                <h3 class="text-center text-white">Вопросы</h3>
                <br>
                <br>
                <a class="button1 text-center" asp-controller="Question" asp-action="Index">Перейти</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card admin-panel-item">
                <br>
                <br>
                <h3 class="text-center text-white">Критерии</h3>
                <br>
                <br>
                <a class="button1 text-center" asp-controller="Criterion" asp-action="Index">Перейти</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card admin-panel-item">
                <br>
                <br>
                <h3 class="text-center text-white">Администраторы</h3>
                <br>
                <br>
                <a class="button1 text-center" asp-controller="Administrator" asp-action="Index">Перейти</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
