﻿@model dbquestion.Models.Administrator

<body>
<h1>Создать новую</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
            <label asp-for="Username" class="control-label"><strong>Логин</strong></label>
            <textarea asp-for="Username" class="form-control" maxlength="50" placeholder="Введите логин..."></textarea>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
            <label asp-for="Passwordhash" class="control-label"><strong>Пароль</strong></label>
            <textarea asp-for="Passwordhash" class="form-control" maxlength="50" placeholder="Введите пароль..."><</textarea>
        <span asp-validation-for="Passwordhash" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Создать" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться</a>
</div>
</body>