﻿@model dbquestion.Models.Administrator

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Администраторы</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Логин
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
           Пароль
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passwordhash)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Administratorid" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index">Вернуться</a>
    </form>
</div>
