﻿@model dbquestion.Models.Administrator

<h1>Редактировать</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Administratorid" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Username" class="control-label"><strong>Логин</strong></label>
        <textarea asp-for="Username" class="form-control" maxlength="50" placeholder="Введите логин..."></textarea>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Passwordhash" class="control-label"><strong>Пароль</strong></label>
        <textarea asp-for="Passwordhash" class="form-control" maxlength="50" placeholder="Введите пароль..."></textarea>
        <span asp-validation-for="Passwordhash" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться</a>
</div>
