﻿@model IEnumerable<dbquestion.Models.Administrator>

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Администраторы</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
         <br>
        <h1>Администраторы</h1>
        <br>
        <p>
        <a class="btn btn-primary" asp-action="Create">Создать новую</a>
        </p>
    <table class="table table-striped">
            <thead>
                <tr>
                <th>id</th>
                <th>Логин</th>
                <th>Пароль</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Administratorid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Passwordhash)
                        </td>
                    <td class="text-right">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Administratorid">Редактировать</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Administratorid">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
     <br>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>