﻿@model dbquestion.Models.Question
@{
    ViewData["Title"] = "Create";
}

<h2>Создать новую</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Questiontext" class="control-label"><strong>Вопрос</strong></label>
        <textarea asp-for="Questiontext" class="form-control" maxlength="500" placeholder="Введите вопрос..."></textarea>
        <span asp-validation-for="Questiontext" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Создать" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
