﻿@model dbquestion.Models.Question
@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Вопрос</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Вопрос
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questiontext)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Questionid" />
        <div class="form-group">
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    </form>

    <div>
        <a asp-action="Index">Вернуться</a>
    </div>
</div>
