﻿@model List<dbquestion.Models.Question>
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вопросы</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

<h2>Вопросы</h2>

<p>
        <a class="btn btn-primary" asp-action="Create">Создать новую</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Вопрос
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Questiontext)
                </td>
                    <td class="text-right">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Questionid">Редактировать</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Questionid">Удалить</a>
                    </td>
            </tr>
        }
    </tbody>
</table>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
